<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/1200px-Pok%C3%A9_Ball_icon.svg.png"
        width="30"
        height="30"
      />
      POKEAPP
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor03"
      aria-controls="navbarColor03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            <i class="fa-solid fa-right-to-bracket"></i> Iniciar Sesión</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registro" routerLinkActive="active">
            <i class="fa-solid fa-user-plus"></i> Crear PokeCuenta</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pokeapp" routerLinkActive="active">
            <i class="fa-sharp fa-solid fa-book"></i> Pokedex</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/maps" routerLinkActive="active">
            <i class="fa-solid fa-globe"></i> GeoLocation</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
