<div class="card rgb rounded-5 ms-4 me-4">
  <div class="card rounded-5 bg-dark">
    <div class="row g-0">
      <div class="col-lg-6">
        <div class="card-body p-md-5 mx-md-4">
          <div class="card-title">
            <h1>We are The PokeAPI Team</h1>
            <i class="gg-pokemon"></i>
          </div>
          <form [formGroup]="form" (ngSubmit)="login()">
            <p>Inicia Sesion en tu PokeCuenta</p>
            <div class="mb-2">
            <input id="usuario" formControlName="usuario" type="text" name="usuario" placeholder="Usuario" required>
            <label class="form-label">PokeUsuario</label>
            </div>
            <div class="form-outline mb-2">
            <input id="password" formControlName="password" type="password" placeholder="Contraseña" name="password" required>
            <label class="form-label">PokeContraseña</label>
            </div>
            <div class="text-center pt-1 mb-2 pb-1">
              <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" title="Ingresar" name="Ingresar">PokeIniciar Sesion</button>
              <br/>
            </div>
        </form>
        </div>
      </div>
      <div class="col-lg-6 d-flex">
        <div class="text-white px-3 py-4 p-md-5 mx-md-4" id="panelD">
          <h2 class="mb-4">Somos mas que una Simple API</h2>
          <p>
            La PokeAPI llego para quedarse, nuestro sistema esta pensado para
            ayudar a toda clase de jugadores, desde los novatos hasta los
            veteranos, te mostramos las caracteristicas de cada pokemon con el
            fin de hacer mas facil tu aventura.
          </p>
          <br />
          <img
            class="img-fluid"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
