<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mt-5">
      <div class="card border-0 shadow p-3">
        <div class="form-floatin mb-3 text-center">
          <h5 class="text-center text-warning">Agregar un Producto</h5>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="nombreProducto"
            [(ngModel)]="nombre"
          />
          <label for="nombreProducto">Nombre del Producto</label>
        </div>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="modeloProducto"
          [(ngModel)]="modelo"
        />
        <label for="modeloProducto">Modelo</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="precioProducto"
          [(ngModel)]="precio"
        />
        <label for="precioProducto">Precio</label>
      </div>
      <button
        type="button"
        class="btn btn-outline-success"
        (click)="(addProduct)"
      >
        Producto
      </button>
    </div>
    <div class="col"></div>
  </div>
</div>
